:root{
    font-size: 16px;
    font-family: "Avenir-LT-W01_35-Light1475496";
    overflow-x: hidden;
}
@font-face { font-family: "Avenir-LT-W01_35-Light1475496"; src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b0268c31-e450-4159-bfea-e0d20e2b5c0c.svg#b0268c31-e450-4159-bfea-e0d20e2b5c0c") format("svg"); font-display: block; }
@font-face { font-family: "Cinzel"; src: local("Cinzel Regular"), local("Cinzel-Regular"), url("https://fonts.gstatic.com/s/cinzel/v9/8vIJ7ww63mVu7gt79mT7PkRXMw.woff2") format("woff2"); font-style: normal; font-weight: 400; font-display: block; unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face { font-family: "Cinzel"; src: url("https://fonts.gstatic.com/s/cinzel/v11/8vIU7ww63mVu7gtR-kwKxNvkNOjw-tbnfY3lDQ.woff2") format("woff2"); font-style: normal; font-weight: 400; unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
body{
    margin: 0;
    padding: 0;
}
    header{
        width: 100vw;
        height: 6.25em;
        background-color: white;
        color: #303131;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
    }
        .header-box{
            width: 1400px;
            height: 6.25em;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
            .header-box-left{
                width: 8.75em;
                height: 5em;
                display: flex;
                align-items: center;
                justify-content: center;
            }
                .header-box-left span{
                    font-family: "Cinzel";
                    font-size: 26px;
                }   
            .header-box-right{
                width: 42em;
                height: 5em;
                display: flex;
                justify-content: space-between;
            }
                .header-box-right-box{
                    font-family: "Avenir-LT-W01_35-Light1475496";
                    font-weight: lighter;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                    .header-box-right-box span:hover{
                        cursor: pointer;
                    }
    .page{
        width: 100vw;
        height: 1050px;
        display: flex;
        justify-content: center;.
    }
        .page-box{
            margin: 6.2em 0 0 0;
            width: 1400px;
            height: 900px;
            background-image: url("midia/bg.webp");
        }
        .page-box-box{
            width: 1400px;
            height: 900px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(39, 58, 78, 0.4);
            color: white;
        }
            .page-box-box h1{
                font-family: "Cinzel";
                font-weight: normal;
                letter-spacing: 0.1em;
                margin: 0;
                padding: 0;
                border: 0;
                outline: 0;
                text-align: center;
                font-size: 70px;
            }
            .page-box-box p{
                font-size: 20px;
                letter-spacing: 0.55em;
                margin: 0 0 2em 0;
            }
            .page-box-box div{
                width: 8.875em;
                height: 2.5em;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid white;
            }
                .page-box-box div:hover{
                    cursor: pointer;
                    border: 1px solid rgba(0, 0, 0, 0);
                    background-color: rgba(39, 58, 78);
                    transition: 0.5s;
                }
    footer{
        width: 100vw;
        height: 6.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        .footer-1{
            width: 10.5em;
            height: 1.5em;
            display: flex;            
            align-items: center;
            justify-content: space-around;
        }
            .footer-1 svg:hover{
                cursor: pointer;
            }
        .footer-2{
            height: 2.5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            .footer-2 span a:hover{
                cursor: pointer;
            }
    .barrinha{
        bottom: 0;
        right: 0;
        margin: 20px 20px;
        width: 21em;
        height: 3.5em;
        background-color: rgb(187, 151, 168);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        position: fixed;
    }