@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#bigBox{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 350px;
    width: 350px;
}
    div{
        height: 100px;
        width: 100px;
        border: 2px solid white;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        #bigBox div:nth-child(1), #bigBox div:nth-child(2), #bigBox div:nth-child(3){
            border-top: none;
        }
        #bigBox div:nth-child(1), #bigBox div:nth-child(4), #bigBox div:nth-child(7){
            border-left: none;
        }
        #bigBox div:nth-child(3n){
            border-right: none;
        }
        #bigBox div:nth-child(7), #bigBox div:nth-child(8), #bigBox div:nth-child(9){
            border-bottom: none;
        }
        input{
            position: absolute;
            margin: 300px 0 0 400px;
            height: 50px;
            width: 100px;
            font-size: 22px;
            font-weight: bold;
        }
    #winner{
        width: 400px;
        text-align: center;
    }