:root{
    background-color: lightgray;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#pic{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
h1{
    padding: 0;
    margin: 10px 0 0 0;
}
#three{
    width: 600px;
    text-align: justify;
}
#five{
    padding: 0;
    margin: 10px 0 0 0;
}
#pic2{
    height: 125px;
    width: 440px;
}