:root{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    --dark-grey: #393e42;
    --light-grey: #dddddd;
    overflow-x: hidden;
}
body{
    color: black;
    margin: 0;
    padding: 0;

    /* perspective: 1px;
    transform-style: preserve-3d; */
}
div{
    margin: 0;
    padding: 0;
}
.parallax {
    background-image: url("midia/top.jpg") ;
    min-height: 600px;  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
/*     
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    position: relative; */
}
.bloco1{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: white;
}
.one{
    width: 300px;
}
    #pic{
        height: 180px;
        width: 180px;
        background-image: url("midia/pic.jpg");
        background-size: cover;
        border-radius: 50%;
        margin: -90px 0px 0px 0px;
        border: 5px solid white;
    }
.two{
    width: 700px;
    height: 0px;
}
    #name{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
        margin: -65px 0px 125px -100px;
        font-size: 24px;
    }
.tree{
    width: 150px;
    height: 0px;
}
.four{
    width: 850px;
    font-size: 50px;
    margin: -75px 0px 25px 200px;
    height: 50px;
}
    #hello{
        font-size: 60px;
        text-align: center;
        margin: -100px 355px 50px 0px;
    }
.five{
    width: 150px;
    height: 0px;
}
.six{
    text-align: justify;
    width: 700px;
    margin: 0 auto;
    padding: 0;
}
#frase{
    background-color: var(--light-grey);
    color: var(--dark-grey);
    width: 100vw;
    height: 100px;
    padding: 50px 0 0 0 ;
}
.citacao{
    margin: auto;
    width: 700px;
    font-size: 35px;
}
.autor{
    font-size: 24px;
    text-align: center;
    font-weight: 300;
}
.skill{
    background-color: var(--dark-grey);
    width: 100vw;
    margin: 0 auto;
    color: var(--light-grey);
    padding: 30px 0px 5px 0px;
    box-shadow: 0px 0px 10px 0px var(--dark-grey);
}
.box-skill{
    width: 800px;
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
    margin: 0 auto;
}
.pill{
    margin: 0px 0px 0px 0px;
    height: 250px;
    width: 250px;
    text-align: center;
}
.work{
    background-image: url("midia/background-one.svg");
    background-repeat: repeat;
    background-blend-mode: color;
    background-color: hsla(0, 0%, 0%, 0.849);
    height: 700px;
    width: 100vw;
    box-shadow: 0px 0px 10px 0px #0b0b0b;
}

.project{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 500px;
}
#background{
    display: block;
    width: 460px;
    height: 180px;
    margin-top: 20px;
    border-radius: 10px;
    background-image: url(midia/work/background.png);
    background-size: cover;
}
#background:hover{
    display: flex;
    transform: scale(1.1);
}
#background1{  
    display: inline-block;
    width: 203px;
    height: 335px;
    margin: 20px 10px;
    transform: scale(1);
    border-radius: 10px;
    background-image: url(midia/work/background1.png);
    background-size: cover;
}
#background1:hover{
    transform: scale(1.1);
}
#background2{  
    display: inline-block;
    width: 220px;
    height: 325px;
    margin: 20px 10px;
    transform: scale(1);
    border-radius: 10px;
    background-image: url(midia/work/background2.png);
    background-size: cover;
}
#background2:hover{
    transform: scale(1.1);
}

.contact{
    color: var(--light-grey);
    background-color: var(--dark-grey);
    margin: 0 auto;
    width: 100vw;
    box-shadow: 0px -5px 10px 0px  var(--dark-grey);

}
.contact-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.email{
    width: 400px;
    height: 500px;
}
.contato{
    display: flex;    
    justify-content: space-around;
    margin: 25px 0 0 0;
}
.map{
    margin: 0px 0px 0px 0px;
}
a svg:hover{
    transform: scale(1.2);
}