:root{
    background-color: lightgray;
    font-size: 16px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
    #container{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        header{
            width: 100vw;
            height: 200px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            header div{
                display: flex;
                height: 150px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 10px;
                box-shadow: 2px 2px 0px 1px black;
            }
                #titulo{
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 300; 
                    font-size: 72px;
                    margin: 0 0 10px 0;
                }
        #txt{
            margin: 0 auto;
            text-align: center;
        }
            #txt a:link {
                text-decoration: none;
                color: #000;
            }
            
            #txt a:visited {
                text-decoration: none;
                color: #000;
            }
            
            #txt a:hover {
                text-decoration: underline;
            }
            
            #txt a:active {
                text-decoration: underline;
            }
    footer{
        display: flex;
        justify-content: center;
        background-color: white;
        width: 100vw;
        height: 200px;
    }
        #fot{
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
            #pic{
                height: 150px;
                width: 150px;
                border-radius: 50%;
            }
        